<div class="card-group container mh-100">
  <div class="card border bg-{{ getType(pokemon) }} mr-3">
    <img
      [src]="pokemon.sprites.front_default"
      alt="Pokemon Image"
      class="card-img-top"
      style="width: 18rem"
    />
    <div class="card-body">
      <h5 class="card-title">{{ pokemon.name | titlecase }}</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-pokemon bg-transparent px-3 py-1">
        ID: {{ pokemon.id }}
      </li>
      <li class="list-group-pokemon bg-transparent px-3 py-1">
        Height: {{ pokemon.height / 10 }} m
      </li>
      <li class="list-group-pokemon bg-transparent px-3 py-1">
        Weight: {{ pokemon.weight * 0.1 }} kg
      </li>
      <li class="list-group-pokemon bg-transparent px-3 py-1">
        Type: {{ getType(pokemon) }}
      </li>
    </ul>
  </div>

  <div class="card border mr-3">
    <div class="card-body">
      <h4 class="card-title">Stats</h4>
      <div *ngFor="let stat of pokemon.stats" class="row mt-3">
        <div class="">
          <h6 class="text-sm-start mt-1">{{ stat.stat.name | titlecase }}</h6>
        </div>
        <div class="">
          <div class="progress" style="height: 30px">
            <div
              class="progress-bar progress-bar-striped bg-{{
                getType(pokemon)
              }}"
              role="progressbar"
              style="height: 30px"
              [style.width]="stat.base_stat + '%'"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <b>{{ stat.base_stat }}</b>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
