<div class="form-container m-3">
  <app-search (search)="getPokemon($event)"></app-search>
</div>

@if (loading) {
<h3 class="loading m-3">Searching for a Pokemon...</h3>
} @else if (error) {
<div class="error-message">
  <app-error></app-error>
</div>
} @else if (pokemonItem.length) { @for (item of pokemonItem; track item.id) {
<app-pokemon-card [pokemon]="item"></app-pokemon-card>
} } @else {
<div class="m-3 card">
  <img src="/pokemon.avif" alt="Developer CV" class="card-img-top" />
</div>
}
